hcloud_token         = "YOUR_TOKEN"
hcloud_location      = "nbg1"
subnet_zone          = "eu-central"
hcloud_network_range = "10.0.0.0/8"
hcloud_subnet_range  = "10.244.0.0/16"
master_count         = 1
worker_count         = 1
master_type          = "cpx21"
worker_type          = "cpx31"
cni                  = "flannel"
cidr                 = "192.168.0.0/16"
image                = "ID"
ssh_public_key_path  = "./keys/id_ed25519.pub"
ssh_private_key_path = "./keys/id_ed25519"