hcloud_token         = "YOUR_TOKEN"
hcloud_location      = "hil"
subnet_zone          = "us-west"
hcloud_network_range = "192.168.0.0/16"
hcloud_subnet_range  = "192.168.1.0/24"
master_count         = 1
worker_count         = 1
master_type          = "cpx21"
worker_type          = "cpx21"
cni                  = "flannel"
cidr                 = "10.244.0.0/16"
image                = "ID"
ssh_public_key_path  = "./keys/id_ed25519.pub"
ssh_private_key_path = "./keys/id_ed25519"