hcloud_token         = "YOUR_TOKEN"
ssh_public_key_path  = "PATH"
ssh_private_key_path = "PATH"
masters_count        = NUMBER
workers_count        = NUMBER
cni                  = "CNI"
master_type          = "TYPE"
worker_type          = "TYPE"
image                = "ubuntu-20.04"
